In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### **LIMPIEZA DE LA DATA**

In [2]:
df = pd.read_csv('./data/videogames-sales.csv')

##### **IDENTIFICANDO VALORES DUPLICADOS**

In [4]:
duplicados = df.duplicated().sum()
duplicados

0

##### **IDENTIFICANDO LOS VALORES NULOS**

##### Se observa que la columna 'Year' cuenta con 271 valores nulos y la columna 'Publisher' cuenta con 58 valores nulos.

In [5]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

##### **FILTRANDO SOLO LAS FILAS QUE CONTIENE VALORES NULOS**
##### En total de columnas nulas es de 371 filas

In [6]:
df_nulos = df[df.isnull().any(axis=1)]
df_nulos

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

##### **SE CREA UNA COPIA DEL DATASET ACTUAL (CON NULOS)**

In [7]:
df_copy = df.copy()

##### **MANEJO DE DATOS FALTANTES DE LA COLUMNA 'PUBLISHER'**

##### Primero, se va a trabajar con la columna 'Publisher'. En este caso los valores NaN de la columna 'Publisher' se rellenan con un valor genérico que tendrá por nombre "Desconocido". Se trabaja con la copia del dataset que se realizó anteriormente.

In [10]:
df_copy['Publisher'] = df_copy['Publisher'].fillna('Desconocido')

##### **SE CORROBORÁ QUE NO EXISTE VALORES NULOS EN LA COLUMNA 'PUBLISHER'**

In [13]:
df_copy['Publisher'].isnull().sum()

0

In [15]:
df_copy[df_copy.isnull().any(axis=1)]
df_copy

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01